.usersList {
  color: #ffffff !important;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contact {
  background-color: #9820d4;
  min-height: 3rem;
  cursor: pointer;
  width: 90%;
  margin-top: 15px;
  border-radius: 0.2rem;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.username {
  color: white;
}
.selected {
  background-color: #9a86f3;
}
.current-user {
  background-color: #0d0d30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.text {
  color: black;
}
.chatmessages {
  padding: 1rem 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.message {
  display: flex;
  align-items: center;
  max-width: 40%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 1rem;
  overflow-wrap: break-word;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: black;
}
.sended {
  justify-content: flex-end;
  background-color: #14b1e0;
}
.recieved {
  justify-content: flex-start;
  background-color: #9900ff20;
}
.chat-input {
  width: 90%;
  height: 60%;
  margin-right: 0.5rem;
  background-color: transparent;
  color: black;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.send-button {
  padding: 0.3rem;
  outline: none !important;
  font-size: 1rem;
  color: skyblue;
  border: none;
}
.login{
  display: flex;
  justify-content: center;

  margin: right;
  text-align: center;
}
.ant-input{
  width: 40% !important;
}
.ant-input-affix-wrapper {
  width: 40% !important;
}